{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
    
    <form action="addact" method="POST">
        {% csrf_token %}
        <div class="row mt-4  justify-content-center align-items-center" >
            <div>
                <div class="form-inline">
                <label for="nom_act"  style="width: 150px;">Nom :</label>
                <input type="text" name="nom_act" id="nom_act" class="form-control" autocomplete="off" style="height: 25px;">
                </div>
                <div class="form-inline mt-4">
                <label for="prenom_act"  style="width: 150px;">Prenom :</label>
                <input type="text" name="prenom_act" id="prenom_act" class="form-control" autocomplete="off" style="height: 25px;">
                </div>
                <div class="form-inline mt-4">
                <label for="num_id"  style="width: 150px;">Numero d'identite :</label>
                <input type="text" name="num_id" id="num_id" class="form-control" autocomplete="off" style="height: 25px;">
                </div>
            </div>
            <div class="ml-5">
                <div class="form-inline">
                <label for="num_tel"  style="width: 150px;">Numero téléphone :</label>
                <input type="text" name="num_tel" id="num_tel" class="form-control" autocomplete="off" style="height: 25px;">
                </div>
                <div class="form-inline mt-4">
                <label for="etat_act"  style="width: 150px;">Etat :</label>
                <select name="etat_act" id="etat_act" class=" my_chosen " style="width: 228px;">
                    <option value="non bloquer" class="non bloquer">debloquer</option>
                    <option value="bloquer" class="bloquer">bloquer </option>
                </select>
                </div>
            </div>
        </div>
        <div class=" row mt-4 justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Enregister</button>
        </div>
    </form>
    <div>
       
        <table table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Nom
              
                    </th>
                    <th class="th-sm">Prenom
              
                    </th>
                    <th class="th-sm">Numero d'identité
              
                    </th>
                    <th class="th-sm">Numero de téléphone 
              
                    </th>
                    <th class="th-sm">Etat
              
                    </th>
                    <th >
              
                  </th>
                  <th  >
              
                  </th>
                </tr>
            </thead>
            <tbody>
                
                {% for item in acteurs %}  
                    <tr>
                        <td>{{item.nom_act}}</td>
                        <td>{{item.prenom_act}}</td>
                        <td>{{item.num_ide_act}}</td>
                        <td>{{item.telephone_act}}</td>
                        <td>{{item.etat_act}}</td>
                        <td>
                            <form action="edtact/{{item.id}}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="padding-top:2px;padding-bottom: 2px;">editer</button>
                            </form>
                        </td>
                        <td>
                            <form action="delact/{{item.id}}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="padding-top:2px;padding-bottom: 2px;">supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr >
                        <h2><td colspan="4" >Il n'y a pas des acteurs enregistrés </td></h2>
                    </tr>
                {% endfor %}
            
            </tbody>
            <tfoot>
                <tr>
                    <th >Nom
              
                    </th>
                    <th >Prenom
              
                    </th>
                    <th >Numero d'identité
              
                    </th>
                    <th >Numero de téléphone 
              
                    </th>
                    <th >Etat
              
                    </th>
                    <th  >
              
                    </th>
                    <th >
                
                    </th>
                </tr>
              </tfoot>
        </table>
    </div>
{% endblock content %}