{% extends 'base.html' %}

{% block content %}
{% if type_msg %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
        </div>
    {% endif %}
{% else %}
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
        </div>
    {% endif %}
{% endif %}

<form action="addactgrp" method="POST">
    {% csrf_token %}
    <div class="row form-inline  mt-5 justify-content-center align-items-center">
        <div>
            <label for="select_act" style="width: 180px;">Acteur communauteur :</label>
            <select class="my_chosen" name="select_act"  id="select_act" style="width: 228px;">
                <option value="">Selectionnez l'acteur</option>
                {% for item in acteurs %}
                        <option value="{{item.id}}" class="{{item.nom_act}}">{{item.nom_act}} {{item.prenom_act}}  {{item.telephone_act}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="ml-5">
            <label for="select_grp" style="width: 100px;">Groupe :</label>
            <select class="my_chosen" name="select_grp"  id="select_grp" style="width: 228px;">
                <option value="">Selectionnez le groupe</option>
                {% for item in groupes %}
                    <option value="{{item.id}}" class="{{item.nom_groupe}}">{{item.nom_groupe}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="ml-5">
            <label for="etat_actgrp" style="width: 150px;">Etat de l'acteur :</label>
            <select name="etat_actgrp" id="etat_actgrp" class="my_chosen" style="width: 228px;">
                <option value="non bloquer" class="non bloquer">debloquer</option>
                <option value="bloquer" class="bloquer">bloquer </option>
            </select>
        </div>
    </div>
    <div class="row form-inline  mt-4 justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary">Integrer l'acteur</button>
    </div>
</form>
<div>
    
    <table table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr >
                <th class="th-sm">Nom</th>
                <th class="th-sm">Prenom</th>
                <th class="th-sm">Numero de téléphone </th>
                <th class="th-sm">Groupe</th>
                <th class="th-sm">Etat</th>
                <th class="th-sm"></th>
                <th class="th-sm"></th>
            </tr>
        </thead>
        <tbody>
            
            {% for item in acteur_groupe %}  
                <tr>
                    <td>{{item.acteur__nom_act}}</td>
                    <td>{{item.acteur__prenom_act}}</td>
                    <td>{{item.acteur__telephone_act}}</td>
                    <td>{{item.groupe__nom_groupe}}</td>
                    <td>{{item.etat_act_group}}   
                    </td>
                    <td>
                        <form action="edtactgrp/{{item.id}}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" style="padding-top:2px;padding-bottom: 2px;">editer</button>
                        </form>
                    </td>
                    <td>
                        <form action="delactgrp/{{item.id}}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="padding-top:2px;padding-bottom: 2px;">retirer</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr >
                    <h2><td colspan="4" >Il n'y a pas des acteurs enregistrés dans les groupes</td></h2>
                </tr>
            {% endfor %}
        
        </tbody>
        <tfoot>
            <tr >
                <th >Nom</th>
                <th >Prenom</th>
                <th >Numero de téléphone </th>
                <th >Groupe</th>
                <th >Etat</th>
                <th ></th>
                <th ></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock content %}