{% extends 'base.html' %}

{% block content %}
{% if type_msg %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
        </div>
    {% endif %}
{% else %}
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
        </div>
    {% endif %}
{% endif %} 

<form action="{% url 'up_actgrp_url' acteur_select.id %}">
    {% csrf_token %}
    <label for="select_act">Acteur :</label>
    <select class="form-control chosen" name="select_act"  id="select_act">
        <option value="{{acteur_select.acteur}}" class="{{acteur_select.acteur__nom_act}}">{{acteur_select.acteur__nom_act}} {{acteur_select.acteur__prenom_act}}-->{{acteur_select.acteur__telephone_act}}</option>
        {% for item in acteurs %}
                <option value="{{item.id}}" class="{{item.nom_act}}">{{item.nom_act}} {{item.prenom_act}}-->{{item.telephone_act}}</option>
        {% endfor %}
    </select>
    <label for="select_grp">Groupe :</label>
    <select class="form-control chosen" name="select_grp"  id="select_grp">
        <option value="{{groupe_select.groupe}}" class="{{groupe_select.nom_groupe}}">{{groupe_select.nom_groupe}}</option>
        {% for item in groupes %}
            <option value="{{item.id}}" class="{{item.nom_groupe}}">{{item.nom_groupe}}</option>
        {% endfor %}
    </select>
    <label for="etat_actgrp">Etat de l'acteur :</label>
    <select name="etat_actgrp" id="etat_actgrp">
        {% ifequal {{etat.etat_act_group}} 'non bloque' %} 
            <option value="bloquer" class="bloquer">bloquer </option>
            <option value="non bloquer" class="non bloquer">debloquer</option>
        {% else %}
            <option value="non bloquer" class="non bloquer">debloquer</option>
            <option value="bloquer" class="bloquer">bloquer </option>
        {% endifequal %}
    </select>
    <div>
        <button type="submit" class="btn btn-outline-primary">OK</button>
        <a  class="btn btn-default"  href="{% url 'actgrp' %}">Retourner</a>n>
    </div>
</form>

{% endblock content %}