{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}

        <div class=" row mt-2 mb-2 justify-content-center align-items-center" >
           <a href="{% url 'rpt_url' %}"><button type="submit" class="btn btn-outline-primary"> Actualiser</button></a>
        </div>

    <div>
        <table table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="table-layout: fixed;word-wrap: break-word;" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Message
        
              </th>
              <th class="th-sm">Date
        
              </th>
              <th class="th-sm">Heure
        
              </th>
              <th class="th-sm">Categorie
        
              </th>
              <th class="th-sm">Prise en charge
                
              </th>
              <th class="th-sm">Acteur
        
              </th>
              <th class="th-sm">Numero de l'acteur
        
              </th>
              <th class="th-sm">Colline
          
              </th>
              <th >
        
              </th>
              <th >
        
              </th>
              <th >
            
              </th>
              <th >
            
              </th>
              <th >
            
              </th>
            </tr>
          </thead>
          <tbody>
               {% for item in reports %}  
                    <tr>
                        <td>{{item.contenu_mes}}</td>
                        <td>{{item.date_mes}}</td>
                        <td>{{item.heure_mes}}</td>
                        <td>{{item.categories__nom_cat}}</td>
                        <td>{{item.prise_charge__designation}}</td>
                        <td>{{item.acteur__prenom_act}}</td>
                        <td>{{item.acteur__telephone_act}}</td>
                        <td>{{item.colline__nom_col}}</td>
                        <td>
                            <form action="{% url 'reprpt_url' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="padding:3px">Repondre</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'catrpt_url' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning" style="padding:3px;" Tooltip="bjr">categoriser</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'chrgrpt_url' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info" style="padding-top:2px; padding-bottom:2px" data-toggle="tooltip" data-placement="top" title="mis le prise en charge sur un cas">charge</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'trsfrpt_url' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" style="padding:3px">Transferer</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'del_msg_recu_url' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment effacer ce message?')" style="padding:3px">supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr >
                        <h2><td colspan="4" >Il n'y a pas des sms envoyeés </td></h2>
                    </tr>
                {% endfor %}
            
            </tbody>
            <tfoot>
              <tr>
                <th class="th-sm">Message
        
                </th>
                <th class="th-sm">Date
          
                </th>
                <th class="th-sm">Heure
          
                </th>
                <th class="th-sm">Categorie
          
                </th>
                <th class="th-sm">Prise en charge
                
                </th>
                <th class="th-sm">Acteur
          
                </th>
                <th class="th-sm">Numero de l'acteur
          
                </th>
                <th class="th-sm">Colline
          
                </th>
                <th >
        
                </th>
                <th >
          
                </th>
                <th >
              
                </th>
                <th >
              
                </th>
                <th >
              
                </th>
              </tr>
            </tfoot>
        </table>
    </div> 

{% endblock content %}