{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
    {% endif %}
    {% endif %}

            <form action="addchg" method="POST">
                {% csrf_token %}
                <div class="row mt-5 justify-content-center align-items-center">
                    <div>
                        <div class="form-inline">
                            <label for="txt_num" style="width: 180px;">Votre numero :</label>
                            <input type="text" name="txt_num" id="txt_num" class="form-control" autocomplete="off" style="height: 25px; width: 230px;">
                        </div><br/>
                        <div class="form-inline mt-2">
                            <label for="txt_pswd_anc" style="width: 180px;">Ancien mot de passe :</label>
                            <input type="password" name="txt_pswd_anc" id="txt_pswd_anc" class="form-control" style="height: 25px; width: 230px;">
                        </div>
                        <div class="form-inline mt-4">
                            <label for="txt_pswd" style="width: 180px;">Nouveau mot de passe :</label>
                            <input type="password" name="txt_pswd" id="txt_pswd" class="form-control" style="height: 25px; width: 230px;">
                        </div>
                        <div class="form-inline mt-4">
                            <label for="txt_pswd_anc_conf" style="width: 180px;">Confirmez le Nouveau :</label>
                            <input type="password" name="txt_pswd_anc_conf" id="txt_pswd_anc_conf" class="form-control" placeholder="Tapez encore le nouveau" style="height: 25px; width: 230px;">
                        </div>
                    </div>
                </div>
                <div class="row form-inline  mt-5 justify-content-center align-items-center">
                    <a  class="btn btn-default"  href="{% url 'auth_url' %}"><< Retourner</a>
                    <button type="submit" class="btn btn-primary ml-4">Changer</button>
                </div>
            </form>
{% endblock content %}
