{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}

    <form action="{% url 'up_col_url' collines.id %}" method="POST">
        {% csrf_token %}
        <div class="row form-inline  mt-5 justify-content-center align-items-center">
            <div>
                <label for="select_com" style="width: 100px;">commune :</label>
                <select class="form-control my_chosen" name="select_com"  id="select_com"  style="width: 228px;">
                    <option value="{{id_commune.commune}}">{{nom_commune.nom_com}}</option>
                    {% for item in communes %}
                        <option value="{{item.id}}" class="{{item.nom_com}}">{{item.nom_com}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ml-5">
                <label for="nom_col" style="width: 100px;">Colline :</label>
                <input type="text" name="nom_col" id="nom_col" class="form-control" value="{{collines.nom_col}}" style="height: 25px; width: 230px;">
            </div>
            <div class="ml-5">
                <label for="select_act" style="width: 180px;">Acteur communauteur :</label>
                <select class="form-control my_chosen" name="select_act"  id="select_act"  style="width: 228px;">
                    <option value="{{acteur_select.acteur}}" class="{{acteur_select.acteur__nom_act}}">{{acteur_select.acteur__nom_act}} {{acteur_select.acteur__prenom_act}}  {{acteur_select.acteur__telephone_act}}</option>
                    {% for item in acteurs %}
                            <option value="{{item.id}}" class="{{item.nom_act}}">{{item.nom_act}} {{item.prenom_act}}  {{item.telephone_act}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row form-inline  mt-5 justify-content-center align-items-center">
           <a  class="btn btn-default"  href="{% url 'col_url' %}"><< Retourner</a>
          <button type="submit" class="btn btn-outline-primary ml-4">OK</button>
        </div>
    </form>
{% endblock content %}