{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
    <form action="{% url 'up_grp_url' groupes.id %}" method="POST">
        {% csrf_token %}
        <div class="row form-inline mt-5 justify-content-center align-items-center">
            <label for="nom_grp" style="width: 150px;">Nom du groupe :</label>
            <input type="text" name="nom_grp" id="nom_grp" value="{{groupes.nom_groupe}}" class="form-control" style="width: 270px;">
        </div>
        <div class="row mt-5  justify-content-center align-items-center">
            <a  class="btn btn-default"  href="{% url 'grp_url' %}"><< Retourner</a>
            <button type="submit" class="btn btn-outline-primary ml-4">OK</button>
        </div>
    </form>        
{% endblock content %}