{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
    
    <form action="{% url 'up_charg_url' charge.id %}" method="POST">
        {% csrf_token %}
        <div class="row form-inline mt-5 justify-content-center align-items-center">
            <label for="nom_charg" style="width: 200px;">Type de prise en charge :</label>
            <input type="text" name="nom_charg" id="nom_charg" value="{{charge.designation}}" class="form-control" autocomplete="off">
        </div>
        <div class="row form-inline mt-5 justify-content-center align-items-center">
            <a  class="btn btn-default"  href="{% url 'charg_url' %}"><< Retourner</a>
            <button type="submit" class="btn btn-outline-primary ml-4">OK</button>
        </div>
    </form>
{% endblock content %}