{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
    
    <form action="{% url 'env_sms_url' %}" method="POST" class="mt-5">
        {% csrf_token %}
        <div class="row mt-5 h-100 justify-content-center align-items-center">
            <div class="form-inline mt-4 justify-content-center align-items-center" hidden>
                <label for="type_env" style="width: 110px;">Envoyer à :</label>
                <select class="form-control my_chosen" name="type"  id="type_env">
                    <option value="acteur" class="acteur">Acteur communauteur</option>
                </select>
            </div>
            <div class="form-inline">
                <label for="num" style="width: 100px;">Numero :</label>
                <input type="text" name="num" id="num" value="{{report.acteur__telephone_act}}" placeholder="numero"class="form-control " style="height: 25px;"  >
            </div>
        </div>
        <div class="row mt-5 justify-content-center align-items-center">
            <label for="" >Message :</label>
            <textarea id="msg" class="form-control ml-3" name="msg" rows="4" style="width: 512px;" placeholder="Tapez votre message ici..."></textarea>
        </div>
        <div class="row mt-3 justify-content-center align-items-center">
            <a  class="btn btn-default"  href="{% url 'rpt_url' %}" style="text-decoration: none;"><< Messages reçu</a>
            <button type="submit" class="btn btn-primary mr-3 ml-3"> Envoyer ></button>
            <a  class="btn btn-default"  href="{% url 'affenv_url' %}" style="text-decoration: none;">Voir sms envoyés >></a>
        </div>
    </form>           
{% endblock content %}