{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
    
    <form action="addutil" method="POST">
        {% csrf_token %}
        <div class="row">
            <div>
                <div class="form-inline">
                    <label for="txt_nom">Nom :</label>
                    <input type="text" name="txt_nom" id="txt_nom" class="form-control" autocomplete="off">
                </div>
                <div class="form-inline">
                    <label for="txt_prenom">Prenom :</label>
                    <input type="text" name="txt_prenom" id="txt_prenom" class="form-control" autocomplete="off">
                </div>
                <div class="form-inline">
                    <label for="txt_num_id">Numero d'identite :</label>
                    <input type="text" name="txt_num_id" id="txt_num_id" class="form-control" autocomplete="off">
                </div>
                <div class="form-inline">
                    <label for="txt_tel">Numero téléphone :</label>
                    <input type="text" name="txt_tel" id="txt_tel" class="form-control" autocomplete="off">
                </div>
            </div>
            <div>
                <div class="form-inline">
                    <label for="txt_pass">Mot de passe :</label>
                    <input type="password" name="txt_pass" id="txt_pass" class="form-control" autocomplete="off">
                </div>
                <div class="form-inline">
                    <label for="txt_conf">Confirmation :</label>
                    <input type="password" name="txt_conf" id="txt_conf" placeholder="tapez encore mot de passe" class="form-control" autocomplete="off">
                </div>
                <div class="form-inline chosen">
                    <label for="txt_profil">Profil :</label>
                    <select name="txt_profil" id="txt_profil" class="form-control my_chosen">
                        <option value="non bloquer" class="non bloquer">Selectionnez son profil</option>
                        <option value="admin" class="admin">Administrateur</option>
                        <option value="simple" class="simple">Simple</option>
                    </select>
                </div>
                <div class="form-inline">
                    <label for="txt_etat">Etat :</label>
                    <select name="txt_etat" id="txt_etat" class="form-control my_chosen">
                        <option value="True" class="True">debloquer</option>
                        <option value="False" class="False">bloquer </option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>
        <div>
            
            <div> 
                <table table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <th class="th-sm">Nom
                    
                          </th>
                          <th class="th-sm">Prenom
                    
                          </th>
                          <th class="th-sm">Numero d'identité
                    
                          </th>
                          <th class="th-sm">Numero téléphone
                    
                          </th>
                          <th class="th-sm">Profil
                    
                          </th>
                          <th class="th-sm">etat
                    
                          </th>
                          <th  >
                    
                        </th>
                        <th  >
                    
                        </th>
                        </tr>
                      </thead>
                    <tbody>
                        
                        {% for item in utilisateurs %}  
                            <tr>
                                <td>{{item.nom_uti}}</td>
                                <td>{{item.prenom_uti}}</td>
                                <td>{{item.num_id_uti}}</td>
                                <td>{{item.user__username}}</td>
                                <td>{{item.profil}}</td>
                                <td>
                                    
                                    {% if item.user__is_active == True %}
                                        non bloquer
                                    {% else %}
                                        Bloquer
                                    {% endif %}
                                        
                                </td>
                                <td>
                                    <form action="edtutil/{{item.id}}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" style="padding-top:2px;padding-bottom: 2px;">editer</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="delutil/{{item.id}}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" style="padding-top:2px;padding-bottom: 2px;">supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr >
                                <h2><td colspan="4" >Il n'y a pas des utilisateurs enregistrés </td></h2>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>Nom
                          </th>
                          <th>Prenom
                          </th>
                          <th>Numero d'identité
                          </th>
                          <th>Numero téléphone
                          </th>
                          <th>Profil
                          </th>
                          <th>etat
                          </th>
                          <th >
                          </th>
                          <th >
                        </th>
                        </tr>
                      </tfoot>
                    
                </table>
            </div>
        </div>
        
{% endblock content %}


