{% extends 'base.html' %}

{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}

    <form action="{% url 'up_util_url' utilisateurs.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div>
                <label for="txt_nom">Nom :</label>
                <input type="text" name="txt_nom" id="txt_nom" value="{{utilisateurs.nom_uti}}"  class="form-control">
                <label for="txt_prenom">Prenom :</label>
                <input type="text" name="txt_prenom" id="txt_prenom" value="{{utilisateurs.prenom_uti}}"  class="form-control">
                <label for="txt_num_id">Numero d'identite :</label>
                <input type="text" name="txt_num_id" id="txt_num_id" value="{{utilisateurs.num_id_uti}}"  class="form-control">
              
            </div>
            <div>
                <label for="txt_tel">Numero téléphone :</label>
                <input type="text" name="txt_tel" id="txt_tel" value="{{utilisateurs.user__username}}"  class="form-control">
                <label for="txt_profil">Profil :</label>
                <select name="txt_profil" id="txt_profil" class="form-control my_chosen">
                        <option value="simple" >Simple</option>
                        <option value="admin" class="admin">Administrateur</option>
                </select>
                <label for="txt_etat">Etat :</label>
                <select name="txt_etat" id="txt_etat" class="form-control my_chosen">
                    {% if utilisateurs.user__is_active == True %}
                        <option value="True" >debloquer</option>
                        <option value="False">bloquer </option>
                    {% else %}
                        <option value="False" >bloquer </option>
                        <option value="True" >debloquer</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary">OK</button>
            <a  class="btn btn-default"  href="{% url 'util_url' %}"><< Retourner</a>
        </div>
    </form>       
{% endblock content %}