{% extends 'base.html' %}


{% block content %}
    {% if type_msg %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% else %}
        {% if messages %}
            <div class="alert alert-primary " role="alert">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
                </button>
            </div>
        {% endif %}
    {% endif %}
                <form action="vsdata" method="POST">
                    {% csrf_token %}
                    <div class="row form-inline mt-3 justify-content-center align-items-center">
                        <label for="select_typ_vis" style="width: 200px;">Visualisez des cas par :</label>
                        <select name="select_typ_vis" id="select_typ_vis" class=" my_chosen " style="width: 228px;">
                            <option value="">Selectionnez le type</option>
                            <option value="colline">Colline</option>
                            <option value="commune">Commune</option>
                            <option value="categorie">Categorie</option>
                        </select>
                    </div>
                    <div class="row form-inline mt-4 justify-content-center align-items-center">
                        <div class="form-inline mr-2">
                            <label for="dat_deb" style="width: 150px;">Date debut :</label>
                            <input type="date" name="dat_deb" id="dat_deb" class="form-control" style="height: 25px;">
                        </div>
                        <div class="form-inline ml-5">
                            <label for="dat_fin" style="width: 100px;">Date fin :</label>
                            <input type="date" name="dat_fin" id="dat_fin" class="form-control" style="height: 25px;">
                        </div>
                    </div>
                    <div class="row form-inline mt-4 justify-content-center align-items-center">
                        <button class="btn btn-primary" type="submit">Visualiser</button>
                        <a href="{% url 'vs_url' %}" style="text-decoration: none;" class="ml-3">OK</a>
                    </div>
                </form>
                <div class="row mt-4 ">
                    <div class="col-1"></div>
                    <div class="col-10"><canvas id="myChart" height="110px"></canvas></div>
                    <div class="col-1"></div>
                </div>

            </div>
          
            
{% endblock content %}

  {% block js %}
            <script>
               
                $(function () {
                    var data1 = JSON.parse("{{data|escapejs}}"); 
                    console.log(data1.labels)
                    console.log(data1.data)
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data1.labels,
                            datasets: [{
                                label: 'Cas rapportés',
                                backgroundColor: 'green',
                                data: data1.data,
                                
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                    }
                                }],
                                xAxes: [{
                                    barPercentage: 0.5,
                                    gridLines: {
                                        tickMarkLength: 15  
                                      },
                                }]
                            },
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Les cas rapportés'
                            }
                        }
                    });
                });
            </script>
{% endblock js %}